# Jupyter Notebook
.ipynb_checkpoints
__pycache__

# virtualenv
.venv/

# VS Code
.vscode/

# Local Gemini files
.crush/
GEMINI.md

# Data and model files
data/

# Generated images and documents
*.png
*.jpg
*.jpeg
*.gif
*.zip
*.pdf
*.docx
*.pptx

# Analysis and documentation folders
/analysis of spectrums/
/Формальщина/
